h1{
    text-align: center;
    font: 200px;
   
}
#grey{
    color: grey;
    background-color: grey;
    border:2px solid black;
    height: 100px;
    width:180px;
    position:relative;

}
#white{
    background-color: white;
    color:white;
    border:2px solid black;
    box-sizing: border-box;

    height: 100px;
    width:180px;
    position: relative;

}
#green{
    background-color: green;
    color:green;
    border:2px solid black;
    box-sizing: border-box;
    
    height: 100px;
    width:180px;
    position: relative;

    
}
#yellow{
    background-color: yellow;
    color:yellow;
    border:2px solid black;
    box-sizing: border-box;
    height: 100px;
    width:180px;
    position: relative;

    
}
.e{
    display: grid;
     grid-template-columns: auto auto auto auto;
}
.y{
    font-size: 40px;
}